@import "@styles/index.scss";

.container {
    max-width: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input {
    width: 100%;
    padding: 12px;

    border: 1px solid $alpha16;
    border-radius: 4px;

    font-family: $interface;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    &__disabled {
        color: $alpha48;
    }
}

.label {
    font-family: $interface;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: $primaryG800;
}

.tip {
    padding: 0px;
    gap: 16px;
}

.errorMessage {
    font-family: $interface;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    display: flex;
    align-items: center;

    color: $alpha48;
}
