@import "@styles/index.scss";

.container {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__disabled {
        max-width: 400px;
    }
}

.input {
    width: 100%;
    padding: 12px;

    border: 1px solid $alpha16;
    border-radius: 4px;

    font-family: $interface;
    line-height: 20px;

    &__disabled {
        color: $alpha48;
    }
}

.label {
    font-family: $interface;
    line-height: 20px;

    color: $primaryG800;
}

.tip {
    height: 16px;
    padding: 0px;
    color: $alpha48;

    font-family: $interface;
    font-size: 12px;
    line-height: 16px;
}
