@import "@styles/index.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.label {
    font-family: $interface;
    font-size: 14px;
    line-height: 20px;

    color: $primaryG800;
}

.field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18.5px;
}

.img {
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
}
