$alpha4: rgba(0, 0, 0, 0.04);
$alpha8: rgba(0, 0, 0, 0.08);
$alpha16: rgba(0, 0, 0, 0.16);
$alpha24: rgba(0, 0, 0, 0.24);
$alpha48: rgba(0, 0, 0, 0.48);

$blueLight: #d5e4f7;
$blueGrey: #212830;

$purple100: #5558fa;

$primaryG800: #333333;
$secondaryG600: #666666;
$tertiaryG350: #a6a6a6;
$grey300: #b3b3b3;

$green100: #05ae71;
$green15: rgba(5, 174, 113, 0.15);

$red100: #e84e58;
$red15: rgba(232, 78, 88, 0.15);

$white: #ffffff;
$layout-white: #f4f4f5;

$black: #000;
