@font-face {
    font-family: "SB Sans Text";
    src: url("src/styles/fonts/SB Sans Text.ttf") format("truetype");
}

@font-face {
    font-family: "SB Sans Interface";
    src: url("src/styles/fonts/SB Sans Interface.ttf") format("truetype");
}

$text: "SB Sans Text";
$interface: "SB Sans Interface";
