@import "@styles/index.scss";

.avatar {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color: $blueLight;
    margin-right: 24px;
    @media screen and (max-width: 440px) {
        margin-right: 0px;
    }
}

.text {
    position: absolute;
    font-family: $text;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: $blueGrey;
}
