@import "@styles/index.scss";

.avatar {
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 24px;

    background: $blueLight;
    border-radius: 100px;
}

.text {
    position: absolute;
    font-family: $text;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: $blueGrey;
}
