@import "@styles/index.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.title {
    font-family: $interface;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 22px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.closeButton {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: translateY(-0.25em);
    }
}
