@import "@styles/index.scss";

.container {
    border-radius: 4px;
    padding: 12px 16px;
}

.contained {
    background-color: $purple100;
    color: $white;
    &:hover {
        box-shadow: 0 0.5em 0.5em -0.4em $primaryG800;
        transform: translateY(-0.25em);
    }
}

.outlined {
    border: 1.5px solid $purple100;
    background-color: $white;
    color: $purple100;
    &:hover {
        box-shadow: 0 0.5em 0.5em -0.4em $purple100;
        transform: translateY(-0.25em);
    }
}

.disabled {
    cursor: default;
    background-color: $secondaryG600;
    border-color: $secondaryG600;
    color: $white;
    &:hover {
        box-shadow: none;
        transform: none;
    }
}
