@import "@styles/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $interface;
  font-size: 14px;
  font-weight: 400;
  list-style-type: none;
}

*:before,
*:after {
  box-sizing: border-box;
}

button {
  border: none;
  background-color: inherit;
  color: $black;
  cursor: pointer;
}

body {
  background-color: $layout-white;
}
