@import "@styles/index.scss";

.profileHeader {
    border-bottom: 1px solid $alpha8;

    &__info {
        display: flex;
        align-items: center;
        padding-bottom: 25px;
        @media screen and (max-width: 440px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }
    }

    &__about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        @media screen and (max-width: 440px) {
            justify-content: center;
            align-items: center;
            gap: 16px;
        }
    }
}

.profileName {
    display: flex;
    font-family: $interface;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;

    color: $primaryG800;
}

.socials {
    display: flex;
    gap: 18px;

    &__link {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        gap: 5.6px;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: translateY(-0.1em);
        }
    }

    &__text {
        font-family: $interface;
        font-size: 12px;
        line-height: 16px;

        color: $purple100;
    }
}
