.container {
    margin-top: 24px;
    @media screen and (max-width: 440px) {
        align-items: center;
        justify-content: center;
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 24px;
    margin-bottom: 48px;
}

.footer {
    display: flex;
    @media screen and (max-width: 440px) {
        align-items: center;
        justify-content: center;
    }
}
